<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>CheckerBoard</title>
</head>

<body>
    <h1 class="check">****Checkerboard*****</h1>
    <div class="container">
        <table class="one">
            <!-- <tr>
                {% for i in range(x)%}
                {% if i %2 == 0%}
                <td class="red" style="background-color: {{color}};"></td>
                <td class="black" style="background-color: {{color_1}};"></td>
                {% endif %}
                {% if i %2 != 0%}
                <td class="red" style="background-color: {{color}};"></td>
                <td class="black" style="background-color: {{color_1}};"></td>
                {% endif %}
                {% endfor %}
            </tr> -->

            {% for j in range(y) %}
            <tr>
                {% if j %2 == 0%} {% for i in range(x)%} {% if i %2 == 0%}
                <td class="black" style="background-color: {{color}};"></td>
                {% else %}
                <td class="red" style="background-color: {{color_1}};"></td>
                {% endif %} {% endfor %} {%else%} {% for i in range(x)%} {% if i %2 ==
                0%}
                <td class="black" style="background-color: {{color_1}};"></td>
                {% else %}
                <td class="red" style="background-color: {{color}};"></td>
                {% endif %} {% endfor %} {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>