h1{
    text-align: center;
}
.aqua{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid 4px;
}
img{
    width: 200px;
    margin:  2% 2% 2% 2% ;
}
.pink{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid 4px;

}
.white{
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    border: solid 4px;
}
body{
    margin-right: 20%;
    margin-left: 20%;
}