body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(60, 133, 243);
    color: white;
    align-items: center;

}
.right > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
nav > h1 {
    font-size: 40px;
}
/* End nav */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
hr{
    display: flex;
    flex-direction: column;
    width: 61%;
}
/* End Loc-temp */

.weather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 360px;
    align-items: center;
    width: 61%;
    text-align: center;
}

.container{
    background-color: lightgrey;
}
.container img{
    width: 70%;
    border-radius: 50%;
}
.tempo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.tempo p:nth-child(1){
    color: red;
}
.tempo p:nth-child(2){
    color: blue;
}

#some{
    font-size: 20px;
}

/* End Temperatures */

.cookies{
    border: 2px solid black;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 1115px;
    margin-top: 20px;
    margin-left: 20%;
    align-items: center;
}
#cookie{
    display: flex;
    align-items: center;
}
#text_cookie{
    display: flex;

    flex-direction: column;
    margin-left: 20px;
    padding: 0 auto;
}
#text_cookie p{
    position: relative;
    bottom: 30px;
    flex-wrap: wrap;
    font-size: 20px;
    width: 850px;

}
.cookies button{
    background-color:rgb(22, 124, 192);
    box-shadow: 2px 2px black;
    margin-right: 1%;
    width: 100px;
    height: 50px;
}
